.brand-heading span {
    color:darkgray;
}

.class-gray {
    color:darkgray;
}

tbody tr:hover{
    background:#343434;
}

div.homebutton {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index:10;
}
