<!doctype html>
<html lang="en">
{% load staticfiles %}

	<head>
		<meta charset="utf-8">

		<title>SSL 2.0 Existing Session ID with Verification</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="{% static 'LEARNSSL/reveal-js/css/reveal.css' %}">
		<link rel="stylesheet" href="{% static 'LEARNSSL/reveal-js/css/theme/blood.css' %}" id="theme">
		<style type="text/css" media="screen">
			.slides section.has-dark-background,
			.slides section.has-dark-background h2 {
				color: #fff;
			}
			.slides section.has-light-background,
			.slides section.has-light-background h2 {
				color: #222;
			}
		</style>

        <link href="{% static 'custom.css' %}" rel="stylesheet">
	</head>

	<body>
	<a href="{% url 'lessons' %}" draggable="false">
	<div class="homebutton">
        <img src="{% static 'LEARNSSL/PageTheme/img/homeicon2.png' %}" alt="" draggable="false">
    </div>
    </a>

		<div class="reveal">

			<div class="slides">

                <section>
                    <h1>SSL 2.0 Existing Session ID with Verification</h1>
                    <p>Use the arrows at the top left corner or the arrow keys on your keyboard to navigate through the
                    example. The left key will take you back to the overview. The up key will take you back to a packet's detailed view. Press the
                    home button to return to the lessons page. When you are ready to begin, move to the right.</p>
                </section>

                <section>
                    <h2>Handshake Overview</h2>
                    <p>In this scenario, the client (represented by the green messages) initiates a connection with a server (represented by the blue messages) that requires client authentication.</p>
                    <img src="{% static 'LEARNSSL/PageTheme/img/overviews/ssl2s3.png' %}" alt="Overview" width="1350" height="573" style="border:0; box-shadow:0 0 0 grey;" usemap="#mapname">

                    <p>Click on a message name to be taken to that message's detailed view.</p>
                    <map name="mapname">
                        <area shape="rect" coords="32,100,200,500" href="#/2">
                        <area shape="rect" coords="215,100,377,500" href="#/3">
                        <area shape="rect" coords="396,100,555,500" href="#/4">
                        <area shape="rect" coords="578,100,701,500" href="#/5">
                        <area shape="rect" coords="702,100,834,500" href="#/6">
                        <area shape="rect" coords="871,100,1055,500" href="#/7">
                        <area shape="rect" coords="1066,100,1231,500" href="#/8">
                    </map>
                </section>

				<section>
                    <section>
                        <h2>Client Hello</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>Packet Contents</th>
                                    <th>Size (Bytes)</th>
                                    <th>Raw Packet Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/2/1'">
                                    <td>{{ json.CLIENTHELLO.0.contents }}</td>
                                    <td>{{ json.CLIENTHELLO.0.size }}</td>
                                    <td>{{ json.CLIENTHELLO.0.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/2/2'">
                                    <td>{{ json.CLIENTHELLO.1.contents }}</td>
                                    <td>{{ json.CLIENTHELLO.1.size }}</td>
                                    <td>{{ json.CLIENTHELLO.1.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/2/3'">
                                    <td>{{ json.CLIENTHELLO.2.contents }}</td>
                                    <td>{{ json.CLIENTHELLO.2.size }}</td>
                                    <td>{{ json.CLIENTHELLO.2.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/2/4'">
                                    <td>{{ json.CLIENTHELLO.3.contents }}</td>
                                    <td>{{ json.CLIENTHELLO.3.size|safe }}</td>
                                    <td>{{ json.CLIENTHELLO.3.datas2 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/2/5'">
                                    <td>{{ json.CLIENTHELLO.4.contents }}</td>
                                    <td>{{ json.CLIENTHELLO.4.size }}</td>
                                    <td>{{ json.CLIENTHELLO.4.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/2/6'">
                                    <td>{{ json.CLIENTHELLO.5.contents }}</td>
                                    <td>{{ json.CLIENTHELLO.5.size|safe }}</td>
                                    <td>{{ json.CLIENTHELLO.5.datas1|safe }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/2/7'">
                                    <td>{{ json.CLIENTHELLO.6.contents }}</td>
                                    <td>{{ json.CLIENTHELLO.6.size }}</td>
                                    <td>{{ json.CLIENTHELLO.6.datas2 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/2/8'">
                                    <td>{{ json.CLIENTHELLO.7.contents }}</td>
                                    <td>{{ json.CLIENTHELLO.7.size }}</td>
                                    <td>{{ json.CLIENTHELLO.7.datas1|safe }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section>
                        <h2>MSG-CLIENT-HELLO</h2>
                        <p>The first byte in every SSL packet specifies what kind of message is being sent. For a full list of the different message types and their corresponding hex values, click here.</p>
                    </section>
                    <section>
                        <h2>CLIENT-VERSION</h2>
                        <p>For SSL 2.0, the client version is always 0x0002. This field is here in the interests of forward compatibility (SSL 3.0 uses the value 0x0300, for example).</p>
                    </section>
                    <section>
                        <h2>CIPHER-SPECS-LENGTH</h2>
                        <p>This field specifies the length the <a href="#/2/7">CIPHER-SPECS-DATA</a> field. In our case, the CIPHER-SPECS-DATA field is 9 bytes long, giving us a value of 0x0009.</p>
                    </section>
                    <section>
                        <h2>SESSION-ID-LENGTH</h2>
                        <p>This field specifies the length of the <a href="#/2/8">SESSION-ID-DATA</a> field. In this case, there will be a session ID, so this value will be nonzero. </p>
                    </section>
                    <section>
                        <h2>CHALLENGE-LENGTH</h2>
                        <p>This field specifies the length of the <a href="#/2/9">CHALLENGE-DATA</a> field. The value and length are chosen by the Client before sending the CLIENT-HELLO message.</p>
                    </section>
                    <section>
                        <h2>CIPHER-SPECS-DATA</h2>
                        <p>This data field contains information about the client's supported cipher suites. Click <a
                                href="#">HERE</a> for a detailed list of possible cipher suites in SSL 2.0. <br><br>For our example, the client has chosen 3 different cipher suites:</p>
                        <table>
                            <thead>
                                <tr>
                                    <th>Suite Name</th>
                                    <th>Hex Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>SSL_CK_RC4_128_WITH_MD5</td>
                                    <td>0x010080</td>
                                </tr>
                                <tr>
                                    <td>SSL_CK_DES_64_CBC_WITH_MD5</td>
                                    <td>0x060040</td>
                                </tr>
                                <tr>
                                    <td>SSL_CK_DES_192_EDE3_CBC_WITH_MD5</td>
                                    <td>0x0700C0</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section>
                        <h2>SESSION-ID-DATA</h2>
                        <p>If a client has previously established a connection with a server, they can use their
                            previous session-id (a unique identifier specific to a single user's connection) to resume
                            their connection to bypass the cipher choice and key exchange sections of the protocol.
                            In this situation, we assume that there is an existing session ID saved from a previous connection, so there will be some data here. </p>
                    </section>
                    <section>
                        <h2>CHALLENGE-DATA</h2>
                        <p>The challenge data is simply random bytes generated by the client and sent to the server.
                            its value is completely arbitrary, and is used for authentication purposes later on
                            in the handshake.</p>
                    </section>
				</section>

				<section>
					<section>
                        <h2>Server Hello</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>Packet Contents</th>
                                    <th>Size (Bytes)</th>
                                    <th>Raw Packet Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/1'">
                                    <td>{{json.SERVERHELLO.0.contents}}</td>
                                    <td>{{json.SERVERHELLO.0.size}}</td>
                                    <td>{{json.SERVERHELLO.0.datas1}}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/2'">
                                    <td>{{json.SERVERHELLO.1.contents}}</td>
                                    <td>{{json.SERVERHELLO.1.size}}</td>
                                    <td>{{json.SERVERHELLO.1.datas2}}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/3'">
                                    <td>{{json.SERVERHELLO.2.contents}}</td>
                                    <td>{{json.SERVERHELLO.2.size}}</td>
                                    <td>{{json.SERVERHELLO.2.datas2}}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/4'">
                                    <td>{{json.SERVERHELLO.3.contents}}</td>
                                    <td>{{json.SERVERHELLO.3.size}}</td>
                                    <td>{{json.SERVERHELLO.3.datas1}}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/5'">
                                    <td>{{json.SERVERHELLO.4.contents}}</td>
                                    <td>{{json.SERVERHELLO.4.size}}</td>
                                    <td>{{json.SERVERHELLO.4.datas2}}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/6'">
                                    <td>{{json.SERVERHELLO.5.contents}}</td>
                                    <td>{{json.SERVERHELLO.5.size}}</td>
                                    <td>{{json.SERVERHELLO.5.datas2}}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/7'">
                                    <td>{{json.SERVERHELLO.6.contents}}</td>
                                    <td>{{json.SERVERHELLO.6.size}}</td>
                                    <td>{{json.SERVERHELLO.6.datas1}}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/8'">
                                    <td>{{json.SERVERHELLO.7.contents}}</td>
                                    <td>{{json.SERVERHELLO.7.size}}</td>
                                    <td>{{json.SERVERHELLO.7.datas2}}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/9'">
                                    <td>{{json.SERVERHELLO.8.contents}}</td>
                                    <td>{{json.SERVERHELLO.8.size}}</td>
                                    <td>{{json.SERVERHELLO.8.datas2}}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/10'">
                                    <td>{{json.SERVERHELLO.9.contents}}</td>
                                    <td>{{json.SERVERHELLO.9.size}}</td>
                                    <td>{{json.SERVERHELLO.9.datas1}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section>
                        <h2>MSG-SERVER-HELLO</h2>
                        <p>The first byte in every SSL packet specifies what kind of message is being sent. For a full list of the different message types and their corresponding hex values, click here.</p>
                    </section>
                    <section>
                        <h2>SESSION-ID-HIT</h2>
                        <p>The client sent a session ID in the previous handshake message <b>and</b> the server was able to find in its database, so this value will be set to 1 to signify that.</p>
                    </section>
                    <section>
                        <h2>CERTIFICATE-TYPE</h2>
                        <p>Since a session identifier was found, the server doesn't need to be re-authenticated. Therefore, this value is zero. </p>
                    </section>
                    <section>
                        <h2>SERVER-VERSION</h2>
                        <p>Similarly to the CLIENT-VERSION data field, the value 0x0002 represents SSL 2.0.</p>
                    </section>
                    <section>
                        <h2>CERTIFICATE-LENGTH</h2>
                        <p> As with the CERTIFICATE-TYPE information, there is no need to send this information if a session ID is found so the value is zero.</p>
                    </section>
                    <section>
                        <h2>CIPHER-SPECS-LENGTH</h2>
                        <p> Cipher suite information was negotiated in the previous connection between the client and server, and will be contained in the session ID. Therefore, theres no need to resend it so the value is zero. </p>
                    </section>
                    <section>
                        <h2>CONNECTION-ID-LENGTH</h2>
                        <p>This field defines the length of the connection ID that the server has assigned to the
                            receiving client, given that the client did not already have one.</p>
                    </section>
                    <section>
                        <h2>CERTIFICATE-DATA</h2>
                        <p> Since no certificate is being sent, there's no data here. </p>
                    </section>
                    <section>
                        <h2>CIPHER-SPECS-DATA</h2>
                        <p> Cipher specifics were previously negotiated, so theres no information here. </p>
                    </section>
                    <section>
                        <h2>CONNECTION-ID-DATA</h2>
                        <p>This field contains the connection ID that the server has assigned to the
                            receiving client, given that the client did not already have one.</p>
                    </section>
				</section>
<!-- Session ID eliminates the need for a master key to be exchanged. -->
				<section>
                    <section>
                        <h2>Client Finish</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Packet Contents</th>
                                        <th>Size (Bytes)</th>
                                        <th>Raw Packet Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/4/1'">
                                        <td>{{json.CLIENTFINISH.0.contents}}</td>
                                        <td>{{json.CLIENTFINISH.0.size}}</td>
                                        <td>{{json.CLIENTFINISH.0.datas1}}</td>
                                    </tr>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/4/2'">
                                        <td>{{json.CLIENTFINISH.1.contents}}</td>
                                        <td>{{json.CLIENTFINISH.1.size}}</td>
                                        <td>{{json.CLIENTFINISH.1.datas1}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    <section>
                        <h2>MSG-CLIENT-FINISHED</h2>
                        <p>The first byte in every SSL packet specifies what kind of message is being sent. For a full
                            list of the different message types and their corresponding hex values, click here.</p>
                    </section>
                    <section>
                        <h2>CONNECTION-ID</h2>
                        <p>This field contains the CONNECTION-ID sent before, now encrypted with the client_write_key.</p>
                    </section>
				</section>

                <section>
                    <section>
                        <h2>Server Verify</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Packet Contents</th>
                                        <th>Size (Bytes)</th>
                                        <th>Raw Packet Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/5/1'">
                                        <td>{{json.SERVERVERIFY.0.contents}}</td>
                                        <td>{{json.SERVERVERIFY.0.size}}</td>
                                        <td>{{json.SERVERVERIFY.0.datas1}}</td>
                                    </tr>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/5/2'">
                                        <td>{{json.SERVERVERIFY.1.contents}}</td>
                                        <td>{{json.SERVERVERIFY.1.size}}</td>
                                        <td>{{json.SERVERVERIFY.1.datas1}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    <section>
                        <h2>MSG-SERVER-VERIFY</h2>
                        <p>The first byte in every SSL packet specifies what kind of message is being sent. For a full
                            list of the different message types and their corresponding hex values, click here.</p>
                    </section>
                    <section>
                        <h2>CHALLENGE-DATA</h2>
                        <p>This field contains the CONNECTION-ID that was sent by the server previously, now encrypted with the client_write_key</p>
                    </section>
				</section>

                <section>
                    <section>
                        <h2>Request Certificate</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Packet Contents</th>
                                        <th>Size (Bytes)</th>
                                        <th>Raw Packet Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/6/1'">
                                        <td>{{ json.REQUESTCERTIFICATE.0.contents }}</td>
                                        <td>{{ json.REQUESTCERTIFICATE.0.size }}</td>
                                        <td>{{ json.REQUESTCERTIFICATE.0.datas3 }}</td>
                                    </tr>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/6/2'">
                                      <td>{{ json.REQUESTCERTIFICATE.1.contents }}</td>
                                      <td>{{ json.REQUESTCERTIFICATE.1.size }}</td>
                                      <td>{{ json.REQUESTCERTIFICATE.1.datas3 }}</td>
                                    </tr>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/6/3'">
                                      <td>{{ json.REQUESTCERTIFICATE.2.contents }}</td>
                                      <td>{{ json.REQUESTCERTIFICATE.2.size }}</td>
                                      <td>{{ json.REQUESTCERTIFICATE.2.datas3 }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    <section>
                        <h2>MSG-REQUEST-CERTIFICATE</h2>
                        <p> This byte notifies the client that this message is a verification request. </p>
                    </section>
                    <section>
                        <h2>AUTHENTICATION-TYPE</h2>
                        <p> This field specifies the way in which the client is to authenticate itself to the server. There is only one option available though, and it requires sending an encrypted MD5 message to the server. </p>
                    </section>
                    <section>
                        <h2>CERTIFICATE-CHALLENGE-DATA</h2>
                        <p> This data is a random assortment of bits totaling betwen 16 and 32 bytes. It is used by the client to respond to this message. </p>
                    </section>
				</section>


                <section>
                    <section>
                        <h2>Client Certificate</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Packet Contents</th>
                                        <th>Size (Bytes)</th>
                                        <th>Raw Packet Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/7/1'">
                                      <td>{{ json.CLIENTCERTIFICATE.0.contents }}</td>
                                      <td>{{ json.CLIENTCERTIFICATE.0.size }}</td>
                                      <td>{{ json.CLIENTCERTIFICATE.0.datas3 }}</td>
                                    </tr>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/7/2'">
                                      <td>{{ json.CLIENTCERTIFICATE.1.contents }}</td>
                                      <td>{{ json.CLIENTCERTIFICATE.1.size }}</td>
                                      <td>{{ json.CLIENTCERTIFICATE.1.datas3 }}</td>
                                    </tr>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/7/3'">
                                      <td>{{ json.CLIENTCERTIFICATE.2.contents }}</td>
                                      <td>{{ json.CLIENTCERTIFICATE.2.size }}</td>
                                      <td>{{ json.CLIENTCERTIFICATE.2.datas3 }}</td>
                                    </tr>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/7/4'">
                                      <td>{{ json.CLIENTCERTIFICATE.3.contents }}</td>
                                      <td>{{ json.CLIENTCERTIFICATE.3.size }}</td>
                                      <td>{{ json.CLIENTCERTIFICATE.3.datas3 }}</td>
                                    </tr>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/7/5'">
                                      <td>{{ json.CLIENTCERTIFICATE.4.contents }}</td>
                                      <td>{{ json.CLIENTCERTIFICATE.4.size }}</td>
                                      <td>{{ json.CLIENTCERTIFICATE.4.datas3 }}</td>
                                    </tr>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/7/6'">
                                      <td>{{ json.CLIENTCERTIFICATE.5.contents }}</td>
                                      <td>{{ json.CLIENTCERTIFICATE.5.size }}</td>
                                      <td>{{ json.CLIENTCERTIFICATE.5.datas3 }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    <section>
                        <h2>MSG-CLIENT-CERTIFICATE</h2>
                        <p> This byte notifies the server that this message is a verification response from the client. </p>
                    </section>
                    <section>
                        <h2>CERTIFICATE-TYPE</h2>
                        <p> This field describes what will be in the certificate data. </p>
                    </section>
                    <section>
                        <h2>CERTIFICATE-LENGTH</h2>
                        <p> Specifies the length of the certificate data. </p>
                    </section>
                    <section>
                        <h2>RESPONSE-LENGTH</h2>
                        <p> Length of the response data field. </p>
                    </section>
                    <section>
                        <h2>CERTIFICATE-DATA</h2>
                        <p> Contains an X.509 signed certificate. </p>
                    </section>
                    <section>
                        <h2>RESPONSE-DATA</h2>
                        <p> Based on the AUTHENTICATION-TYPE indicated the server, the client will encrypt certain data, including the CERTIFICATE-CHALLENGE-DATA using its private RSA key. </p>
                    </section>
				</section>



                <section>
                    <section>
                        <h2>Server Finish</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Packet Contents</th>
                                        <th>Size (Bytes)</th>
                                        <th>Raw Packet Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/8/1'">
                                        <td>{{json.SERVERFINISH.0.contents}}</td>
	                                    <td>{{json.SERVERFINISH.0.size}}</td>
	                                    <td>{{json.SERVERFINISH.0.datas1}}</td>
                                    </tr>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/8/2'">
                                        <td>{{json.SERVERFINISH.1.contents}}</td>
	                                    <td>{{json.SERVERFINISH.1.size}}</td>
	                                    <td>{{json.SERVERFINISH.1.datas1}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    <section>
                        <h2>MSG-SERVER-FINISHED</h2>
                        <p>The first byte in every SSL packet specifies what kind of message is being sent. For a full
                            list of the different message types and their corresponding hex values, click here.</p>
                    </section>
                    <section>
                        <h2>SESSION-ID-DATA</h2>
                        <p>The server generates a session ID for the client so that the client can restart the connection quickly later on if needed.</p>
                    </section>
				</section>

			</div>

		</div>

		<script src="{% static 'LEARNSSL/reveal-js/lib/js/head.min.js' %}"></script>
		<script src="{% static 'LEARNSSL/reveal-js/js/reveal.js' %}"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				center: true,
                history: true,
				// rtl: true,

				transition: 'linear',
				// transitionSpeed: 'slow',
				// backgroundTransition: 'slide'

                width: 2112,
                height: 1300,
			});
			Reveal.configure({ slideNumber: true });

			// Get the modal
            var modal = document.getElementById('myModal');
            var modal2 = document.getElementById('myModal2');

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
            btn.onclick = function() {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
		</script>

	</body>

</html>
