<!doctype html>
<html lang="en">
{% load staticfiles %}

	<head>
		<meta charset="utf-8">

		<title>SSL 2.0</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="{% static 'LEARNSSL/reveal-js/css/reveal.css' %}">
		<link rel="stylesheet" href="{% static 'LEARNSSL/reveal-js/css/theme/blood.css' %}" id="theme">
		<style type="text/css" media="screen">
			.slides section.has-dark-background,
			.slides section.has-dark-background h2 {
				color: #fff;
			}
			.slides section.has-light-background,
			.slides section.has-light-background h2 {
				color: #222;
			}
		</style>

        <link href="{% static 'custom.css' %}" rel="stylesheet">
	</head>

	<body>
	<a href="{% url 'lessons' %}" draggable="false">
	<div class="homebutton">
        <img src="{% static 'LEARNSSL/PageTheme/img/homeicon2.png' %}" alt="" draggable="false">
    </div>
    </a>
		<div class="reveal">

			<div class="slides">

                <section>
                    <h1>SSL 2.0</h1>
                    <p>Use your arrow keys or the buttons at the bottom right corner to navigate through the example. Moving right along the example will progress through the packets, while moving down will provide more information about the packet you are currently viewing. Press ESC to see a slide overview.</p>
                </section>

                <section>
                    <h2>Handshake Overview</h2>
                    <p>In this scenario, the client (represented by the green messages) initiates a connection with a server (represented by the blue messages) for the first time.</p>
                    <img src="{% static 'LEARNSSL/PageTheme/img/new_ssl2.png' %}" alt="Overview" width="1080" height="526" style="border:0; box-shadow:0 0 0 grey;" usemap="#mapname">

                    <map name="mapname">
                        <area shape="rect" coords="32,71,172,464" href="#/2">
                        <area shape="rect" coords="197,71,362,464" href="#/3">
                        <area shape="rect" coords="367,71,506,464" href="#/4">
                        <area shape="rect" coords="506,71,639,464" href="#/5">
                        <area shape="rect" coords="640,71,772,464" href="#/6">
                        <area shape="rect" coords="782,71,963,464" href="#/7">
                    </map>
                </section>

				<section>
                    <section>
                        <h2>Client Hello</h2>
                        <p>To prepare for the handshake, Alice generates some random data– called the ‘challenge’</p>
                        <table>
                            <thead>
                                <tr>
                                    <th>Packet Contents</th>
                                    <th>Size (Bytes)</th>
                                    <th>Raw Packet Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/2/1'">
                                    <td>{{ json.CLIENTHELLO.0.contents }}</td>
                                    <td>{{ json.CLIENTHELLO.0.size }}</td>
                                    <td>{{ json.CLIENTHELLO.0.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/2/2'">
                                    <td>{{ json.CLIENTHELLO.1.contents }}</td>
                                    <td>{{ json.CLIENTHELLO.1.size }}</td>
                                    <td>{{ json.CLIENTHELLO.1.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/2/3'">
                                    <td>{{ json.CLIENTHELLO.2.contents }}</td>
                                    <td>{{ json.CLIENTHELLO.2.size }}</td>
                                    <td>{{ json.CLIENTHELLO.2.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/2/4'">
                                    <td>{{ json.CLIENTHELLO.3.contents }}</td>
                                    <td>{{ json.CLIENTHELLO.3.size|safe }}</td>
                                    <td>{{ json.CLIENTHELLO.3.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/2/5'">
                                    <td>{{ json.CLIENTHELLO.4.contents }}</td>
                                    <td>{{ json.CLIENTHELLO.4.size }}</td>
                                    <td>{{ json.CLIENTHELLO.4.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/2/6'">
                                    <td>{{ json.CLIENTHELLO.5.contents }}</td>
                                    <td>{{ json.CLIENTHELLO.5.size|safe }}</td>
                                    <td>{{ json.CLIENTHELLO.5.datas1|safe }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/2/7'">
                                    <td>{{ json.CLIENTHELLO.6.contents }}</td>
                                    <td>{{ json.CLIENTHELLO.6.size }}</td>
                                    <td>{{ json.CLIENTHELLO.6.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/2/8'">
                                    <td>{{ json.CLIENTHELLO.7.contents }}</td>
                                    <td>{{ json.CLIENTHELLO.7.size }}</td>
                                    <td>{{ json.CLIENTHELLO.7.datas1|safe }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <p><a href="#/2/2">Scroll down for more info!</a></p>
                    </section>
                    <section>
                        <h2>MSG-CLIENT-HELLO</h2>
                        <p>The first byte in every SSL packet specifies what kind of message is being sent. For a full list of the different message types and their corresponding hex values, click here.</p>
                    </section>
                    <section>
                        <h2>CLIENT-VERSION</h2>
                        <p>For SSL 2.0, the client version is always 0x0002. This field is here in the interests of forward compatibility (SSL 3.0 uses the value 0x0300, for example).</p>
                    </section>
                    <section>
                        <h2>CIPHER-SPECS-LENGTH</h2>
                        <p>This field specifies the length the <a href="#/2/7">CIPHER-SPECS-DATA</a> field. In our case, the CIPHER-SPECS-DATA field is 9 bytes long, giving us a value of 0x0009.</p>
                    </section>
                    <section>
                        <h2>SESSION-ID-LENGTH</h2>
                        <p>This field specifies the length of the <a href="#/2/8">SESSION-ID-DATA</a> field. There is no session ID for this particular exchange, so the length is 0.</p>
                    </section>
                    <section>
                        <h2>CHALLENGE-LENGTH</h2>
                        <p>This field specifies the length of the <a href="#/2/9">CHALLENGE-DATA</a> field. The value and length are chosen by the Client before sending the CLIENT-HELLO message.</p>
                    </section>
                    <section>
                        <h2>CIPHER-SPECS-DATA</h2>
                        <p>This data field contains information about the client's supported cipher suites. Click <a
                                href="#">HERE</a> for a detailed list of possible cipher suites in SSL 2.0. <br><br>For our example, the client has chosen 3 different cipher suites:</p>
                        <table>
                            <thead>
                                <tr>
                                    <th>Suite Name</th>
                                    <th>Hex Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>SSL_CK_RC4_128_WITH_MD5</td>
                                    <td>0x010080</td>
                                </tr>
                                <tr>
                                    <td>SSL_CK_DES_64_CBC_WITH_MD5</td>
                                    <td>0x060040</td>
                                </tr>
                                <tr>
                                    <td>SSL_CK_DES_192_EDE3_CBC_WITH_MD5</td>
                                    <td>0x0700C0</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section>
                        <h2>SESSION-ID-DATA</h2>
                        <p>If a client has previously established a connection with a server, they can use their
                            previous session-id (a unique identifier specific to a single user's connection) to resume
                            their connection to bypass the cipher choice and key exchange sections of the protocol.
                            In our example, however, the client is connecting to the server for the first time, so
                            there is no session ID in this packet.</p>
                    </section>
                    <section>
                        <h2>CHALLENGE-DATA</h2>
                        <p>The challenge data is simply random bytes generated by the client and sent to the server.
                            its value is completely arbitrary, and is used for authentication purposes later on
                            in the handshake.</p>
                    </section>
				</section>

				<section>
					<section>
                        <h2>Server Hello</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>Packet Contents</th>
                                    <th>Size (Bytes)</th>
                                    <th>Raw Packet Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/2'">
                                    <td>{{ json.SERVERHELLO.0.contents }}</td>
                                    <td>{{ json.SERVERHELLO.0.size }}</td>
                                    <td>{{ json.SERVERHELLO.0.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/2'">
                                    <td>{{ json.SERVERHELLO.1.contents }}</td>
                                    <td>{{ json.SERVERHELLO.1.size }}</td>
                                    <td>{{ json.SERVERHELLO.1.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/3'">
                                    <td>{{ json.SERVERHELLO.2.contents }}</td>
                                    <td>{{ json.SERVERHELLO.2.size }}</td>
                                    <td>{{ json.SERVERHELLO.2.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/4'">
                                    <td>{{ json.SERVERHELLO.3.contents }}</td>
                                    <td>{{ json.SERVERHELLO.3.size }}</td>
                                    <td>{{ json.SERVERHELLO.3.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/5'">
                                    <td>{{ json.SERVERHELLO.4.contents }}</td>
                                    <td>{{ json.SERVERHELLO.4.size }}</td>
                                    <td>{{ json.SERVERHELLO.4.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/6'">
                                    <td>{{ json.SERVERHELLO.5.contents }}</td>
                                    <td>{{ json.SERVERHELLO.5.size }}</td>
                                    <td>{{ json.SERVERHELLO.5.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/7'">
                                    <td>{{ json.SERVERHELLO.6.contents }}</td>
                                    <td>{{ json.SERVERHELLO.6.size }}</td>
                                    <td>{{ json.SERVERHELLO.6.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/8'">
                                    <td>{{ json.SERVERHELLO.7.contents }}</td>
                                    <td>{{ json.SERVERHELLO.7.size }}</td>
                                    <td>{{ json.SERVERHELLO.7.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/9'">
                                    <td>{{ json.SERVERHELLO.8.contents }}</td>
                                    <td>{{ json.SERVERHELLO.8.size|safe }}</td>
                                    <td>{{ json.SERVERHELLO.8.datas1|safe }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/10'">
                                    <td>{{ json.SERVERHELLO.9.contents }}</td>
                                    <td>{{ json.SERVERHELLO.9.size }}</td>
                                    <td>{{ json.SERVERHELLO.9.datas1 }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section>
                        <h2>MSG-SERVER-HELLO</h2>
                        <p>The first byte in every SSL packet specifies what kind of message is being sent. For a full list of the different message types and their corresponding hex values, click here.</p>
                    </section>
                    <section>
                        <h2>SESSION-ID-HIT</h2>
                        <p>If the client sent a session ID in the previous handshake message <b>and</b> the server was able to
                            find that ID in its database, this value will be set to 1. Otherwise, it is 0.</p>
                    </section>
                    <section>
                        <h2>CERTIFICATE-TYPE</h2>
                        <p>SSL 2.0 only supports one certificate type: SSL_CT_X509_CERTIFICATE. This certificate - given
                            by the code 0x01 - uses the <a href="https://en.wikipedia.org/wiki/X.509">X.509 certificate</a> standard. All certificates sent under SSL 2.0
                            should use this standard.</p>
                    </section>
                    <section>
                        <h2>SERVER-VERSION</h2>
                        <p>Similarly to the CLIENT-VERSION data field, the value 0x0002 represents SSL 2.0.</p>
                    </section>
                    <section>
                        <h2>CERTIFICATE-LENGTH</h2>
                        <p>The certificate length field specifies the length of the server's <a href="https://en.wikipedia.org/wiki/X.509">X.509 certificate</a></p>
                    </section>
                    <section>
                        <h2>CIPHER-SPECS-LENGTH</h2>
                        <p>The server takes the CIPHER-SPECS-DATA sent by the client and edits it by removing all cipher
                            suites it does not support. The CIPHER-SPECS-LENGTH field defines the length of this new
                            list.</p>
                    </section>
                    <section>
                        <h2>CONNECTION-ID-LENGTH</h2>
                        <p>This field defines the length of the connection ID that the server has assigned to the
                            receiving client, given that the client did not already have one.</p>
                    </section>
                    <section>
                        <h2>CERTIFICATE-DATA</h2>
                        <p>This field contains the server's signed certificate. The certificate is given using the X.509
                            standard.</p>
                    </section>
                    <section>
                        <h2>CIPHER-SPECS-DATA</h2>
                        <p>The server takes the CIPHER-SPECS-DATA sent by the client and edits it by removing all cipher
                            suites it does not support. It then sends this list back to the client.</p>
                    </section>
                    <section>
                        <h2>CONNECTION-ID-DATA</h2>
                        <p>This field contains the connection ID that the server has assigned to the
                            receiving client, given that the client did not already have one.</p>
                    </section>
				</section>

				<section>
					<section>
                        <h2>Client Master Key</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>Packet Contents</th>
                                    <th>Size (Bytes)</th>
                                    <th>Raw Packet Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/4/1'">
                                    <td>{{ json.CLIENTMASTERKEY.0.contents }}</td>
                                    <td>{{ json.CLIENTMASTERKEY.0.size }}</td>
                                    <td>{{ json.CLIENTMASTERKEY.0.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/4/2'">
                                    <td>{{ json.CLIENTMASTERKEY.1.contents }}</td>
                                    <td>{{ json.CLIENTMASTERKEY.1.size }}</td>
                                    <td>{{ json.CLIENTMASTERKEY.1.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/4/3'">
                                    <td>{{ json.CLIENTMASTERKEY.2.contents }}</td>
                                    <td>{{ json.CLIENTMASTERKEY.2.size }}</td>
                                    <td>{{ json.CLIENTMASTERKEY.2.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/4/4'">
                                    <td>{{ json.CLIENTMASTERKEY.3.contents }}</td>
                                    <td>{{ json.CLIENTMASTERKEY.3.size }}</td>
                                    <td>{{ json.CLIENTMASTERKEY.3.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/4/5'">
                                    <td>{{ json.CLIENTMASTERKEY.4.contents }}</td>
                                    <td>{{ json.CLIENTMASTERKEY.4.size }}</td>
                                    <td>{{ json.CLIENTMASTERKEY.4.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/4/6'">
                                    <td>{{ json.CLIENTMASTERKEY.5.contents }}</td>
                                    <td>{{ json.CLIENTMASTERKEY.5.size }}</td>
                                    <td>{{ json.CLIENTMASTERKEY.5.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/4/7'">
                                    <td>{{ json.CLIENTMASTERKEY.6.contents }}</td>
                                    <td>{{ json.CLIENTMASTERKEY.6.size|safe }}</td>
                                    <td>{{ json.CLIENTMASTERKEY.6.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/4/8'">
                                    <td>{{ json.CLIENTMASTERKEY.7.contents }}</td>
                                    <td>{{ json.CLIENTMASTERKEY.7.size }}</td>
                                    <td>{{ json.CLIENTMASTERKEY.7.datas1 }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>*While the theoretical maximum value for this field is 65535 bytes, the longest key size that SSL 2.0 supports is 192 bytes, and the smallest secret portion of the key that SSL 2.0 allows is 40 bytes, giving this field an effective 152 byte maximum.</p>
                    </section>
                    <section>
                        <h2>MSG-CLIENT-MASTER-KEY</h2>
                        <p>The first byte in every SSL packet specifies what kind of message is being sent. For a full list of the different message types and their corresponding hex values, click here.</p>
                    </section>
                    <section>
                        <h2>CIPHER-KIND</h2>
                        <p>The client chooses a cipher suite based on the server's edited list, and adds its hex code
                            here.</p>
                    </section>
                    <section>
                        <h2>CLEAR-KEY-LENGTH</h2>
                        <p>This field gives the length of the CLEAR-KEY-DATA field in this packet. Back in the 90s when
                            SSL 2.0 was drafted, the U.S. Government required that all ciphers that were exported out of
                            the country (called export ciphers) have no longer than 40 byte keys -- thus if a
                            particular cipher used by SSL had a key length of longer than 40 bytes, 40 bytes would
                            remain secret, while the rest of the key was transmitted in plain text. This restriction is
                            highly insecure, and has since been lifted.</p>
                    </section>
                    <section>
                        <h2>ENCRYPTED-KEY-LENGTH</h2>
                        <p>This specifies the length of the encrypted key that is being transmitted. <br>For an explanation as to why some portions of keys are transmitted in the clear, see the slide on
                            <a href="#/4/3">CLEAR-KEY-LENGTH</a></p>
                    </section>
                    <section>
                        <h2>KEY-ARG-LENGTH</h2>
                        <p>If the particular cipher suite in use requires key arguments (e.g. an initialization vector)
                            the length of those arguments will be defined here.</p>
                    </section>
                    <section>
                        <h2>CLEAR-KEY-DATA</h2>
                        <p>This contains the clear portion of the key that is being transmitted.
                            <br>For an explanation as to why some portions of keys are transmitted in the clear, see the slide on
                            <a href="#/4/3">CLEAR-KEY-LENGTH</a></p>
                    </section>
                    <section>
                        <h2>ENCRYPTED-KEY-DATA</h2>
                        <p>This contains the encrypted portion of the key that is being transmitted.
                            <br>For an explanation as to why some portions of keys are transmitted in the clear, see the slide on
                            <a href="#/4/3">CLEAR-KEY-LENGTH</a></p>
                    </section>
                    <section>
                        <h2>KEY-ARG-DATA</h2>
                        <p>If the particular cipher suite in use requires key arguments (e.g. an initialization vector)
                            those arguments will be defined here.</p>
                    </section>
				</section>

				<section>
                    <section>
                        <h2>Client Finish</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Packet Contents</th>
                                        <th>Size (Bytes)</th>
                                        <th>Raw Packet Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/5/1'">
                                    <td>{{ json.CLIENTFINISH.0.contents }}</td>
                                    <td>{{ json.CLIENTFINISH.0.size }}</td>
                                    <td>{{ json.CLIENTFINISH.0.datas1 }}</td>
                                    </tr>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/5/2'">
                                    <td>{{ json.CLIENTFINISH.1.contents }}</td>
                                    <td>{{ json.CLIENTFINISH.1.size }}</td>
                                    <td>{{ json.CLIENTFINISH.1.datas1|safe }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    <section>
                        <h2>MSG-CLIENT-FINISHED</h2>
                        <p>The first byte in every SSL packet specifies what kind of message is being sent. For a full
                            list of the different message types and their corresponding hex values, click here.</p>
                    </section>
                    <section>
                        <h2>CONNECTION-ID</h2>
                        <p>This field contains the CONNECTION-ID sent before, now encrypted with the client_write_key.</p>
                    </section>
				</section>

                <section>
                    <section>
                        <h2>Server Verify</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Packet Contents</th>
                                        <th>Size (Bytes)</th>
                                        <th>Raw Packet Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/6/1'">
                                    <td>{{ json.SERVERVERIFY.0.contents }}</td>
                                    <td>{{ json.SERVERVERIFY.0.size }}</td>
                                    <td>{{ json.SERVERVERIFY.0.datas1 }}</td>
                                    </tr>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/6/2'">
                                    <td>{{ json.SERVERVERIFY.1.contents }}</td>
                                    <td>{{ json.SERVERVERIFY.1.size }}</td>
                                    <td>{{ json.SERVERVERIFY.1.datas1|safe }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    <section>
                        <h2>MSG-SERVER-VERIFY</h2>
                        <p>The first byte in every SSL packet specifies what kind of message is being sent. For a full
                            list of the different message types and their corresponding hex values, click here.</p>
                    </section>
                    <section>
                        <h2>CHALLENGE-DATA</h2>
                        <p>This field contains the CONNECTION-ID that was sent by the server previously, now encrypted with the client_write_key</p>
                    </section>
				</section>

                <section>
                    <section>
                        <h2>Server Finish</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Packet Contents</th>
                                        <th>Size (Bytes)</th>
                                        <th>Raw Packet Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/7/1'">
                                    <td>{{ json.SERVERFINISH.0.contents }}</td>
                                    <td>{{ json.SERVERFINISH.0.size }}</td>
                                    <td>{{ json.SERVERFINISH.0.datas1 }}</td>
                                    </tr>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/7/2'">
                                    <td>{{ json.SERVERFINISH.1.contents }}</td>
                                    <td>{{ json.SERVERFINISH.1.size }}</td>
                                    <td>{{ json.SERVERFINISH.1.datas1 }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    <section>
                        <h2>MSG-SERVER-FINISHED</h2>
                        <p>The first byte in every SSL packet specifies what kind of message is being sent. For a full
                            list of the different message types and their corresponding hex values, click here.</p>
                    </section>
                    <section>
                        <h2>SESSION-ID-DATA</h2>
                        <p>The server generates a session ID for the client so that the client can restart the connection quickly later on if needed.</p>
                    </section>
				</section>

			</div>

		</div>

		<script src="{% static 'LEARNSSL/reveal-js/lib/js/head.min.js' %}"></script>
		<script src="{% static 'LEARNSSL/reveal-js/js/reveal.js' %}"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				center: true,
                history: true,
				// rtl: true,

				transition: 'linear',
				// transitionSpeed: 'slow',
				// backgroundTransition: 'slide'

                width: 2112,
                height: 1300,
                progress:false
			});
			Reveal.configure({ slideNumber: true });

			// Get the modal
            var modal = document.getElementById('myModal');
            var modal2 = document.getElementById('myModal2');

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
            btn.onclick = function() {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
		</script>

	</body>

</html>
