<!doctype html>
<html lang="en">
{% load staticfiles %}
{#INCLUDE NOTE ABOUT MISSING SERVERHELLODONE MESSAGE#}
	<head>
		<meta charset="utf-8">

		<title>SSL 2.0</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="{% static 'LEARNSSL/reveal-js/css/reveal.css' %}">
		<link rel="stylesheet" href="{% static 'LEARNSSL/reveal-js/css/theme/blood.css' %}" id="theme">
		<style type="text/css" media="screen">
			.slides section.has-dark-background,
			.slides section.has-dark-background h2 {
				color: #fff;
			}
			.slides section.has-light-background,
			.slides section.has-light-background h2 {
				color: #222;
			}
		</style>

        <link href="{% static 'custom.css' %}" rel="stylesheet">
	</head>

	<body>

		<div class="reveal">

			<div class="slides">

                <section>
                    <h1>SSL 3.0</h1>
                    <p>Use your arrow keys or the buttons at the bottom right corner to navigate through the example. Moving right along the example will progress through the packets, while moving down will provide more information about the packet you are currently viewing. Press ESC to see a slide overview.</p>
                </section>

                <section>
                    <h2>Handshake Overview</h2>
                    <p>In this scenario, the client (represented by the green messages) initiates a connection with a server (represented by the blue messages) for the first time.</p>
{#                    <img src="{% static 'LEARNSSL/PageTheme/img/FinalBackgrounds/overview-text.png' %}" alt="Overview" width="1500" height="1000" style="border:0; box-shadow:0 0 0 grey;">#}
                    <p>[image goes here]</p>
                </section>

				<section>
                    <section>
                        <h2>Client Hello</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>Packet Contents</th>
                                    <th>Size (Bytes)</th>
                                    <th>Raw Packet Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/2/1'">
                                    <td>{{ json.CLIENTHELLO.0.contents }}</td>
                                    <td>{{ json.CLIENTHELLO.0.size }}</td>
                                    <td>{{ json.CLIENTHELLO.0.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/2/2'">
                                    <td>{{ json.CLIENTHELLO.1.contents }}</td>
                                    <td>{{ json.CLIENTHELLO.1.size }}</td>
                                    <td>{{ json.CLIENTHELLO.1.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/2/3'">
                                    <td>{{ json.CLIENTHELLO.2.contents }}</td>
                                    <td>{{ json.CLIENTHELLO.2.size }}</td>
                                    <td>{{ json.CLIENTHELLO.2.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/2/4'">
                                    <td>{{ json.CLIENTHELLO.3.contents }}</td>
                                    <td>{{ json.CLIENTHELLO.3.size|safe }}</td>
                                    <td>{{ json.CLIENTHELLO.3.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/2/5'">
                                    <td>{{ json.CLIENTHELLO.4.contents }}</td>
                                    <td>{{ json.CLIENTHELLO.4.size|safe }}</td>
                                    <td>{{ json.CLIENTHELLO.4.datas1 }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section>
                        <h2>Protocol Version</h2>
                        <p>This tells the server that the client is using the SSL 3.0 protocol.</p>
                    </section>
                    <section>
                        <h2>Random</h2>
                        <p>The random value is made up of the current time and date in standard 32 bit UNIX format, along with 28 randomly generated bytes.</p>
                    </section>
                    <section>
                        <h2>Session ID</h2>
                        <p>If the client has a session ID from a previous connection to the server that they want to
                        resume, this field will contain that session ID. If the client wishes to negotiate a new key,
                        this field will be left blank.</p>
                    </section>
                    <section>
                        <h2>Cipher Suites</h2>
                        <p>This is a list of all cipher suites that the client supports, in order of the client's preference. For a resumed connection, this field is left blank.</p>
                        <table style="float:left; font-size: 90%;">
                            <thead>
                                <tr>
                                    <th>Suite Name</th>
                                    <th>Hex Code</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>SSL_NULL_WITH_NULL_NULL</td>
                                    <td>0x0000</td>
                                </tr>
                                <tr>
                                    <td>SSL_RSA_WITH_NULL_MD5</td>
                                    <td>0x0001</td>
                                </tr>
                                <tr>
                                    <td>SSL_RSA_WITH_NULL_SHA</td>
                                    <td>0x0002</td>
                                </tr>
                                <tr>
                                    <td>SSL_RSA_EXPORT_WITH_RC4_40_MD5</td>
                                    <td>0x0003</td>
                                </tr>
                                <tr>
                                    <td>SSL_RSA_WITH_RC4_128_MD5</td>
                                    <td>0x0004</td>
                                </tr>
                                <tr>
                                    <td>SSL_RSA_WITH_RC4_128_SHA</td>
                                    <td>0x0005</td>
                                </tr>
                                <tr>
                                    <td>SSL_RSA_EXPORT_WITH_RC2_CBC_40_MD5</td>
                                    <td>0x0006</td>
                                </tr>
                                <tr>
                                    <td>SSL_RSA_WITH_IDEA_CBC_SHA</td>
                                    <td>0x0007</td>
                                </tr>
                                <tr>
                                    <td>SSL_RSA_EXPORT_WITH_DES40_CBC_SHA</td>
                                    <td>0x0008</td>
                                </tr>
                                <tr>
                                    <td>SSL_RSA_WITH_DES_CBC_SHA</td>
                                    <td>0x0009</td>
                                </tr>
                                <tr>
                                    <td>SSL_RSA_WITH_3DES_EDE_CBC_SHA</td>
                                    <td>0x000A</td>
                                </tr>
                            </tbody>
                        </table>
                        <table style="float: right; font-size: 90%;">
                            <thead>
                                <tr>
                                    <th>Suite Name</th>
                                    <th>Hex Code</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>SSL_DH_DSS_EXPORT_WITH_DES40_CBC_SHA</td>
                                    <td>0x000B</td>
                                </tr>
                                <tr>
                                    <td>SSL_DH_DSS_WITH_DES_CBC_SHA</td>
                                    <td>0x000C</td>
                                </tr>
                                <tr>
                                    <td>SSL_DH_DSS_WITH_3DES_EDE_CBC_SHA</td>
                                    <td>0x000D</td>
                                </tr>
                                <tr>
                                    <td>SSL_DH_RSA_EXPORT_WITH_DES40_CBC_SHA</td>
                                    <td>0x000E</td>
                                </tr>
                                <tr>
                                    <td>SSL_DH_RSA_WITH_DES_CBC_SHA</td>
                                    <td>0x000F</td>
                                </tr>
                                <tr>
                                    <td>SSL_DH_RSA_WITH_3DES_EDE_CBC_SHA</td>
                                    <td>0x0010</td>
                                </tr>
                                <tr>
                                    <td>SSL_DHE_DSS_EXPORT_WITH_DES40_CBC_SHA</td>
                                    <td>0x0011</td>
                                </tr>
                                <tr>
                                    <td>SSL_DHE_DSS_WITH_DES_CBC_SHA</td>
                                    <td>0x0012</td>
                                </tr>
                                <tr>
                                    <td>SSL_DHE_DSS_WITH_3DES_EDE_CBC_SHA</td>
                                    <td>0x0013</td>
                                </tr>
                                <tr>
                                    <td>SSL_DHE_RSA_EXPORT_WITH_DES40_CBC_SHA</td>
                                    <td>0x0014</td>
                                </tr>
                                <tr>
                                    <td>SSL_DHE_RSA_WITH_DES_CBC_SHA</td>
                                    <td>0x0015</td>
                                </tr>
                                <tr>
                                    <td>SSL_DHE_RSA_WITH_3DES_EDE_CBC_SHA</td>
                                    <td>0x0016</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section>
                        <h2>Compression Methods</h2>
                        <p>This is a list of the compression methods supported by the client, sorted by client preference. For a resumed connection, this field is left blank.</p>
                    </section>
				</section>

				<section>
					<section>
                        <h2>Server Hello</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>Packet Contents</th>
                                    <th>Size (Bytes)</th>
                                    <th>Raw Packet Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/2'">
                                    <td>{{ json.SERVERHELLO.0.contents }}</td>
                                    <td>{{ json.SERVERHELLO.0.size }}</td>
                                    <td>{{ json.SERVERHELLO.0.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/3'">
                                    <td>{{ json.SERVERHELLO.1.contents }}</td>
                                    <td>{{ json.SERVERHELLO.1.size }}</td>
                                    <td>{{ json.SERVERHELLO.1.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/4'">
                                    <td>{{ json.SERVERHELLO.2.contents }}</td>
                                    <td>{{ json.SERVERHELLO.2.size }}</td>
                                    <td>{{ json.SERVERHELLO.2.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/5'">
                                    <td>{{ json.SERVERHELLO.3.contents }}</td>
                                    <td>{{ json.SERVERHELLO.3.size }}</td>
                                    <td>{{ json.SERVERHELLO.3.datas1 }}</td>
                                </tr>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/3/6'">
                                    <td>{{ json.SERVERHELLO.4.contents }}</td>
                                    <td>{{ json.SERVERHELLO.4.size }}</td>
                                    <td>{{ json.SERVERHELLO.4.datas1 }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section>
                        <h2>Protocol Version</h2>
                        <p>This tells the client that the server is using the SSL 3.0 protocol.</p>
                    </section>
                    <section>
                        <h2>Random</h2>
                        <p>This random structure is sent by the server to the client and must be different from the client's random value.</p>
                    </section>
                    <section>
                        <h2>Session ID</h2>
                        <p>If the server found a match for the client supplied Session ID and agrees to reopen the connection,
                         this field will contain the same session ID supplied that was by the client. If the ID is not
                         found or one was not supplied, this field will instead contain a new session ID for the new connection.</p>
                    </section>
                    <section>
                        <h2>Cipher Suite</h2>
                        <p>This field contains the server's chosen cipher suite from the client's given list. For a resumed
                        connection, it contains the cipher suite previously used in the session.</p>
                    </section>
                    <section>
                        <h2>Compression Method</h2>
                        <p>This field contains the server's chosen compression method from the client's given list. For a resumed
                        connection, it contains the compression method previously used in the session.</p>
                    </section>
				</section>

				<section>
					<section>
                        <h2>Change Cipher Spec (server)</h2>

                        <table>
                            <thead>
                                <tr>
                                    <th>Packet Contents</th>
                                    <th>Size (Bytes)</th>
                                    <th>Raw Packet Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="cursor: pointer;" onclick="window.document.location='#/4/2'">
                                <td>Change Cipher Spec</td>
                                <td>1</td>
                                <td>0x01</td>
                            </tbody>
                        </table>
                    </section>

                    <section>
                        <h2>Change Cipher Spec</h2>
                        <p>This message contains a single byte with value 0x01. The server sends this message after successfully
                        processing the key exchange message it received from the client. This message serves as a notification
                        that all further messages will be sent under the newly negotiated Cipher Spec.</p>
                        <p><a href="#/6/1">Return to Server Verify Packet Overview</a></p>
                    </section>
                </section>

				<section>
                    <section>
                        <h2>Server Finish</h2>
                        <table>
                                <thead>
                                    <tr>
                                        <th>Packet Contents</th>
                                        <th>Size (Bytes)</th>
                                        <th>Raw Packet Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/5/2'">
                                    <td>{{ json.FINISHED.0.contents }}</td>
                                    <td>{{ json.FINISHED.0.size }}</td>
                                    <td>{{ json.FINISHED.0.datas1 }}</td>
                                    </tr>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/5/3'">
                                    <td>{{ json.FINISHED.1.contents }}</td>
                                    <td>{{ json.FINISHED.1.size }}</td>
                                    <td>{{ json.FINISHED.1.datas1|safe }}</td>
                                    </tr>
                                </tbody>
                        </table>
                    </section>
                    <section>
                        <h2>MD5 Hash</h2>
                        <p>This is an MD5 hash containing all of the previous handshake messages up to but not including this message. The full formula used is: MD5 Hash = MD5(master_secret + pad2 + MD5(handshake_messages + Sender
 + master_secret + pad1)). The variables pad1 and pad2 are simply padding - their values do not matter for the implementation of the handshake.</p>
                    </section>
                    <section>
                        <h2>SHA Hash</h2>
                        <p>This is a SHA-1 hash containing all of the previous handshake messages up to but not including this message. The full formula used is: SHA Hash = SHA(master_secret + pad2 + SHA(handshake_messages + Sender
 + master_secret + pad1)). The variables pad1 and pad2 are simply padding - their values do not matter for the implementation of the handshake.</p>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Change Cipher Spec (client)</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Packet Contents</th>
                                        <th>Size (Bytes)</th>
                                        <th>Raw Packet Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/6/2'">
                                    <td>Change Cipher Spec</td>
                                    <td>1</td>
                                    <td>0x01</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    <section>
                        <h2>Change Cipher Spec</h2>
                        <p>This message contains a single byte with value 0x01. The client sends this message following
                        handshake key exchange and certificate verify messages (if any). This message serves as a notification
                        that all further messages will be sent under the newly negotiated Cipher Spec.</p>
                        <p><a href="#/6/1">Return to Server Verify Packet Overview</a></p>
                    </section>
				</section>

                <section>
                    <section>
                        <h2>Client Finish</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Packet Contents</th>
                                        <th>Size (Bytes)</th>
                                        <th>Raw Packet Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/7/2'">
                                    <td>{{ json.FINISHED.0.contents }}</td>
                                    <td>{{ json.FINISHED.0.size }}</td>
                                    <td>{{ json.FINISHED.0.datas1 }}</td>
                                    </tr>
                                    <tr style="cursor: pointer;" onclick="window.document.location='#/7/3'">
                                    <td>{{ json.FINISHED.1.contents }}</td>
                                    <td>{{ json.FINISHED.1.size }}</td>
                                    <td>{{ json.FINISHED.1.datas1 }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    <section>
                        <h2>MD5 Hash</h2>
                        <p>This is an MD5 hash containing all of the previous handshake messages up to but not including this message. The full formula used is: MD5 Hash = MD5(master_secret + pad2 + MD5(handshake_messages + Sender
 + master_secret + pad1)). The variables pad1 and pad2 are simply padding - their values do not matter for the implementation of the handshake.</p>
                    </section>
                    <section>
                        <h2>SHA Hash</h2>
                        <p>This is a SHA-1 hash containing all of the previous handshake messages up to but not including this message. The full formula used is: SHA Hash = SHA(master_secret + pad2 + SHA(handshake_messages + Sender
 + master_secret + pad1)). The variables pad1 and pad2 are simply padding - their values do not matter for the implementation of the handshake.</p>
                    </section>
				</section>

			</div>

		</div>

		<script src="{% static 'LEARNSSL/reveal-js/lib/js/head.min.js' %}"></script>
		<script src="{% static 'LEARNSSL/reveal-js/js/reveal.js' %}"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				center: true,
                history: true,
				// rtl: true,

				transition: 'linear',
				// transitionSpeed: 'slow',
				// backgroundTransition: 'slide'

                width: 2112,
                height: 1300,
			});
			Reveal.configure({ slideNumber: true });

			// Get the modal
            var modal = document.getElementById('myModal');
            var modal2 = document.getElementById('myModal2');

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
            btn.onclick = function() {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
		</script>

	</body>

</html>
